.navbar {
    height: 65px;
    padding: 0 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-logo {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #1f2937;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.username {
    font-weight: 500;
    color: #374151;
}

.admin-btn,
.logout-btn {
    border: none;
    padding: 9px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.admin-btn {
    background: #eef2ff;
    color: #4338ca;
}

.logout-btn {
    background: #ef4444;
    color: white;
}

.logout-btn:hover {
    background: #dc2626;
}